body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #3ee4d1;
    color: #333;
    margin: 0;
    padding: 0;
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header ul li {
    display: inline;
    margin: 0 15px;
}

.button {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background: #16aebe;
    color: #fff;
}

footer {
    background-color: #b2c4e5;
    position: fixed;
    bottom: 0;
    width: 100%;
}
